    <meta charset="UTF-8">
    <meta http-euiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share More Links</title>
    <link rel="stylesheet" href="http://localhost:5000/static/css/styles.css">
