@media only screen and (min-width: 801px) {
  body {
    height: 75vh;
  }
  h1 {
    font-size: 5em;
  }
  img {
    height: 30em;
    width: 60em;
    margin-bottom: 20px;
    border: 1px solid black;
  }
}

@media only screen and (max-width: 800px) {
  body {
    height: 98vh;
  }
  img {
    height: 10em;
    width: 25em;
    margin-bottom: 20px;
    border: 1px solid black;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rows {
  grid-row: 1;
}

.center-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

input {
  width: 100%;
  padding: 24px;
  padding-left: 0%;
  border: none;
  margin: 0;
  /* box-sizing: border-box; */
  background-color: transparent;
  border-radius: 24px;
  outline: none;
  font-size: larger;
}

.input-space {
  margin-left: 24px;
  line-height: 21px;
}

.input-box {
  display: flex;
  height: 44px;
  border: 1px solid black;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: auto;
}

button {
  width: 50%;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  background-color: hsl(223, 100%, 53%);
  color: white;
  box-shadow: none;
  border: 1px solid ;
  font-size: 24px;

}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 100%;
}

.input-list {
  display: flex;
  height: 44px;
  border: 1px solid black;
  box-shadow: none;
  border-radius: 24px;
  margin: 24px;
  width: auto;
  padding: 0 0 0 24px;
}


.is-hidden {
  display: none;
}