<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="center">
    <div>
      <img src="http://localhost:3000/static/images/space.gif" alt="">
      <form action="/" method="post">
        <div class="input-box">
          <p class="input-space">HTTPS://</p>
          <input id="input" name="input" placeholder="Enter URL" type="text" />
        </div>
        <div class="center-button">
          <button type="submit">Make Short</button>
        </div>
      </form>
    </div>

    <script>
      // console.log(document.getElementById('input'));
    </script>
  </body>
</html>
