<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="center">
    <div>
      <h1>Share More Links</h1>
      <div class="input-box">
        <input id="input" type="text" />
      </div>
      <div class="center-button">
        <button type="submit">Make Short</button>
      </div>
    </div>
  </body>
</html>
