<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div>
      <h1 style="display: flex; justify-content: center;">Shortened URL</h1>
      <table>
        <tr>
          <th>Site</th>
          <th>Link</th>
        </tr>
        <% data.forEach(entry => { %>
        <tr>
          <td><%= entry.website %></td>
          <td>
            <a href="http://localhost:3000/url/<%= entry.shortened_url %>">
              http://localhost3000/url/<%= entry.shortened_url %>
            </a>
          </td>
        </tr>
        <% }) %>
      </table>
    </div>
  </body>
</html>
